
.states {
  fill: #C1C0C6;
  height: 100%;
  border: 1px;
}

.states :hover {
   fill-opacity: .7;
}

.state-borders {
  fill: none;
  stroke: black;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: none;
  pointer-events: none;
}

html, body {
   background-color:whitesmoke;
   font-size: 12px;
   color: black;
   font-family: "Times New Roman", "Times", "serif";
   padding: 0;

}
.container {
  text-align: center;

  padding-top: 1em;
}


button {

   padding: 5px 10px;
   border-radius: 8px;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }



.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 15px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 9px;
    pointer-events: none;
}



.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: red;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

circle:hover {
  fill-opacity: .8 !important;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
