
*{
padding:auto;
margin:auto;
}

html, body {
   background-color: #3D7CAC;
   font-size: 10px;
   color: white;
   font-family: 'Helvetica', sans-serif;
   padding: 0;
   margin: 2em;
   display: inline-block;
}

li {
  margin: 10px;
}

#chart {
  float: right
}
h3 {
  font-family: '#POUND', sans-serif;
  }


.container{
  width:90%;
}


