
*{
padding:auto;
margin:auto;
}

html, body {
   background-color:white;
   font-size: 10px;
   color: black;
   font-family: 'Helvetica', sans-serif;
   padding: 0;
   margin: 2em;
   display: inline-block;
}

li {
  margin: 10px;
}

#chart {
  float: right
}
h3 {
  font-family: '#POUND', sans-serif;
  }


.container{
  width:90%;
}


// #3D7CAC;


//bubble formatting//
.land {
  fill: #ADCFDE;
}
.land :hover {
  fill: #69E291;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: red;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

circle:hover {
  fill-opacity: .8 !important;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
